$theme-colors: (
  "primary":    #375463,
  "secondary":  #41b883,
  "success":    #023020,
  "info":       #b1b2b4,
  "warning":    #ffc107,
  "danger":     #93070A,
  "light":      #eff0f0,
  "dark":       #343a40,
);

@import 'node_modules/bootstrap/scss/bootstrap.scss';

.pointer{
    cursor: pointer;
}

html{
  height: 100%;
}